.tl_tabs_panel {
	text-align: left;
	padding-left: 6px;
}
.tl_tabs_panel .tl_subpanel {
	float: none;
	padding-left: 0;
}

ul.tabs, ul.contents {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
ul.tabs li {
	display: inline-table;
}
ul.tabs li.active {
	background: none;
}
ul.tabs li.active .tl_submit {
	background: #eee;
	background-image: -moz-linear-gradient(top,#ccc 0,#eee 60%);
	background-image: -webkit-linear-gradient(top,#ccc 0,#eee 60%);
	background-image: -o-linear-gradient(top,#ccc 0,#eee 60%);
	background-image: -ms-linear-gradient(top,#ccc 0,#eee 60%);
	background-image: linear-gradient(to bottom,#ccc 0,#eee 60%)
}
.contentsWindow {
	position: relative;
	overflow: hidden;
	width: auto;
	height: 500px;
}
.contentsWindow ul.contents {
	position: absolute;
	top: 0;
	left: 0;
	display: table;
	table-layout: fixed;
	width: 400%;
}
.contentsWindow ul.contents li {
	display: table-cell;
}