html, body, .wrapper {
    height: 100%;
}

body {
    font: 300 14px/1.7 'Open Sans Condensed', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
    letter-spacing: .025em;
    background-color: #000;
}

h1, h2, h3 {
    text-transform: uppercase;
    font-weight: 600;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 14px;
}

p ~ * {
    padding-top: 10px;
}

a {
    display: inline-block;
    text-decoration: none;
}

.content a {
    color: #f15a24;
}

strong, .strong {
    font-weight: 700;
}

blockquote,
figcaption {
    padding: 5px 10px 10px;
    color: #000;
    background-color: #fff;
}

blockquote p:before {
    content: '\00BB';
    padding-right: 3px;
}

blockquote p:after {
    content: '\00AB';
    padding-left: 3px;
}

figcaption {
    padding-top: 10px;
}

img + blockquote,
img + figcaption {
    margin-top: -10px;
}

blockquote + div {
    margin-top: 10px;
}

[load-image] {
    background-color: #414141;
}

[load-image] img {
    opacity: 0;
    transition: opacity .35s ease;
}

[load-image].loaded img {
    opacity: 1;
}

.button,
cite a {
    margin-top: 10px;
    padding: 0 20px;
    font-weight: 700;
    line-height: 40px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .05em;
    background-color: #000;
}

cite a {
    padding-left: 14px;
}

cite a:before {
    content: '';
    position: relative;
    display: inline-block;
    top: 1px;
    padding-right: 7px;
    font-size: 0px;
    border: 7px solid transparent;
    border-left-color: #fff;
    border-right-width: 0;
}

header,
footer {
    display: block;
    font-size: 0;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 40px;
    text-align: center;
    background-color: #000;
    z-index: 5;
}

footer {
    padding: 100px 60px;
}

.main {
    display: inline;
}

section {
    min-height: 600px;
    padding-top: 40px;
    background-color: aquamarine;
}

.content {
    width: 80%;
    max-width: 940px;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 80px;
}

.layout-row {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
}

.layout-row > .flex {
    min-width: 0;
}

.flex {
    flex: 1;
    box-sizing: border-box;
    padding: 10px;
}
