html, body, .wrapper {
    height: 100%;
}

body {
    font: 300 14px/1.7 'Open Sans Condensed', sans-serif;;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
    letter-spacing: .025em;
    background-color: #000;
}

a {
    display: inline-block;
    text-decoration: none;
}

blockquote,
figcaption {
    padding: 5px 10px 10px;
    color: #000;
    background-color: #fff;
}

figcaption {
    padding-top: 10px;
}

img + blockquote,
img + figcaption {
    margin-top: -10px;
}

blockquote + div {
    margin-top: 10px;
}

cite a {
    margin-top: 10px;
    padding: 0 20px;
    line-height: 40px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .05em;
    background-color: #000;
}

header,
footer {
    display: block;
    font-size: 0;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 40px;
    text-align: center;
    background-color: #000;
    z-index: 1;
}

footer {
    padding: 100px 60px;
}

nav li {
    display: inline-block;
    padding: 0 20px;
}

nav li a {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
}

header nav li:first-child {
    position: absolute;
    top: 60px;
    left: 60px;
    display: block;
    padding: 0;
}

header nav li:first-child a {
    display: block;
    width: 133px;
}

.main {
    display: inline;
}

section {
    min-height: 600px;
    padding-top: 40px;
    background-color: aquamarine;
}

section.news {
    background-color: #4d4d4d;
}

section.news ul[timeline] {
    position: relative;
    width: 80%;
    max-width: 940px;
    margin: 0 auto;
    font-size: 0;
}

section.news ul[timeline]:before,
section.news ul[timeline]:after {
    content: '';
}

section.news ul[timeline]:before {
    position: absolute;
    top: -40px;
    left: 50%;
    display: block;
    width: 4px;
    height: calc(100% + 40px);
    margin-left: -2px;
    background: #f15a24;
}

section.news ul[timeline]:after {
    clear: both;
    display: table;
}

section.news ul[timeline] > li {
    position: relative;
    box-sizing: border-box;
    width: 50%;
    padding: 30px;
    font-size: 17px;
    color: #fff;
}

section.news ul[timeline] > li li:before {
    content: '* ';
}

section.news ul[timeline] > li:first-child + li {
    padding-top: 120px;
}

section.news ul[timeline] > li.left {
    float: left;
    clear: left;
    text-align: right;
}

section.news ul[timeline] > li.has-likes.left {
    padding-left: 80px;
}

section.news ul[timeline] > li.right {
    float: right;
    clear: right;
    text-align: left;
}

section.news ul[timeline] > li.has-likes.right {
    padding-right: 80px;
}

section.news ul[timeline] > li time {
    position: relative;
    display: inline-block;
    height: 30px;
    margin-bottom: 10px;
    padding: 0 10px;
    font-size: 17px;
    font-weight: 700;
    line-height: 30px;
    color: #fff;
    background-color: #f15a24;
}

section.news ul[timeline] > li time:before,
section.news ul[timeline] > li time:after {
    content: '';
    position: absolute;
    display: block;
}
section.news ul[timeline] > li time:before {
    top: 0;
    border: 15px solid transparent;
}

section.news ul[timeline] > li.left time:before {
    right: -30px;
    border-left-color: #f15a24;
}

section.news ul[timeline] > li.right time:before {
    left: -30px;
    border-right-color: #f15a24;
}

section.news ul[timeline] > li time:after {
    top: 9px;
    width: 12px;
    height: 12px;
    background-color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

section.news ul[timeline] > li.left time:after {
    right: -36px;
}

section.news ul[timeline] > li.right time:after {
    left: -36px;
}

section.news ul[timeline] > li h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
    text-transform: uppercase;
}

section.news ul[timeline] > li .video-wrapper {
    position: relative;
}

section.news ul[timeline] > li img,
section.news ul[timeline] > li .video-wrapper video {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    background-color: #414141;
}

section.news ul[timeline] > li .video-wrapper video {
    position: relative;
}

section.news ul[timeline] > li .video-wrapper button {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    margin-left: -30px;
    margin-top: -40px;
    padding: 0;
    background: none;
    font-size: 0;
    cursor: pointer;
    outline: none;
}

section.news ul[timeline] > li .video-wrapper button.play {
    border: 40px solid transparent;
    border-left: 60px solid #fff;
    border-right-width: 0;
}

section.news ul[timeline] > li .video-wrapper button.pause {
    width: 20px;
    height: 80px;
    border: 0 solid #fff;
    border-left-width: 20px;
    border-right-width: 20px;
    box-sizing: content-box;
}

section.news ul[timeline] > li .likes,
section.news ul[timeline] > li .likes:before {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background-color: #000;
}

section.news ul[timeline] > li .likes:before {
    content: '';
    top: -41px;
    background: #000 url("../svg/heart.svg") no-repeat center center;
}

section.news ul[timeline] > li .likes {
    top: 111px;
}

section.news ul[timeline] > li.left .likes {
    left: 30px;
}

section.news ul[timeline] > li.right .likes {
    right: 30px;
}

section.locations {
    height: calc(100% - 40px - 240px);
}

.angular-google-map,
.angular-google-map-container {
    width: 100%;
    height: 100%;
    background-color: transparent !important;
}

.angular-google-map a img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}


/* Make clicks pass-through */
#loading-bar,
#loading-bar-spinner {
    pointer-events: none;
    transition: 350ms linear all;
}

#loading-bar.ng-enter,
#loading-bar.ng-leave.ng-leave-active,
#loading-bar-spinner.ng-enter,
#loading-bar-spinner.ng-leave.ng-leave-active {
    opacity: 0;
}

#loading-bar.ng-enter.ng-enter-active,
#loading-bar.ng-leave,
#loading-bar-spinner.ng-enter.ng-enter-active,
#loading-bar-spinner.ng-leave {
    opacity: 1;
}

#loading-bar .bar {
    transition: width 350ms;

    background: #29d;
    position: fixed;
    z-index: 10002;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    border-bottom-right-radius: 1px;
    border-top-right-radius: 1px;
}

/* Fancy blur effect */
#loading-bar .peg {
    position: absolute;
    width: 70px;
    right: 0;
    top: 0;
    height: 2px;
    opacity: .45;
    box-shadow: #29d 1px 0 6px 1px;
    border-radius: 100%;
}

#loading-bar-spinner {
    display: block;
    position: fixed;
    z-index: 10002;
    top: 10px;
    left: 10px;
}

#loading-bar-spinner .spinner-icon {
    width: 14px;
    height: 14px;

    border:  solid 2px transparent;
    border-top-color:  #29d;
    border-left-color: #29d;
    border-radius: 50%;

    animation: loading-bar-spinner 400ms linear infinite;
}

@-webkit-keyframes loading-bar-spinner {
    0%   { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes loading-bar-spinner {
    0%   { -moz-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes loading-bar-spinner {
    0%   { -o-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes loading-bar-spinner {
    0%   { -ms-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes loading-bar-spinner {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
