html, body, .wrapper {
    height: 100%;
}

a {
    text-decoration: none;
}

body {
    font: 300 14px/1.7 'Open Sans Condensed', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    background-color: #000;
}

header,
footer {
    display: block;
    font-size: 0;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 40px;
    text-align: center;
    background-color: #000;
    z-index: 1;
}

footer {
    padding: 100px 60px;
}

nav li {
    display: inline-block;
    padding: 0 20px;
}

nav li a {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
}

header nav li:first-child {
    position: absolute;
    top: 60px;
    left: 60px;
    display: block;
    padding: 0;
}

header nav li:first-child a {
    display: block;
    width: 133px;
}

.main {
    display: inline;
}

section {
    min-height: 600px;
    padding-top: 40px;
    background-color: aquamarine;
}

section.news {
    background-color: #4d4d4d;
}

section.news ul[timeline] {
    position: relative;
    width: 80%;
    margin: 0 auto;
    font-size: 0;
}

section.news ul[timeline]:before,
section.news ul[timeline]:after {
    content: '';
}

section.news ul[timeline]:before {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 4px;
    height: 100%;
    margin-left: -2px;
    background: #f15a24;
}

section.news ul[timeline]:after {
    clear: both;
    display: table;
}

section.news ul[timeline] li {
    box-sizing: border-box;
    width: 50%;
    padding: 30px;
    font-size: 14px;
    color: #fff;
}

section.news ul[timeline] li:first-child + li {
    padding-top: 120px;
}

section.news ul[timeline] li.left {
    float: left;
    clear: left;
    text-align: right;
}

section.news ul[timeline] li.right {
    float: right;
    clear: right;
    text-align: left;
}

section.news ul[timeline] li time {
    position: relative;
    display: inline-block;
    height: 30px;
    padding: 0 10px;
    font-size: 17px;
    font-weight: 700;
    line-height: 30px;
    color: #fff;
    background-color: #f15a24;
}

section.news ul[timeline] li time:before,
section.news ul[timeline] li time:after {
    content: '';
    position: absolute;
    display: block;
}
section.news ul[timeline] li time:before {
    top: 0;
    border: 15px solid transparent;
}

section.news ul[timeline] li.left time:before {
    right: -30px;
    border-left-color: #f15a24;
}

section.news ul[timeline] li.right time:before {
    left: -30px;
    border-right-color: #f15a24;
}

section.news ul[timeline] li time:after {
    top: 9px;
    width: 12px;
    height: 12px;
    background-color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

section.news ul[timeline] li.left time:after {
    right: -36px;
}

section.news ul[timeline] li.right time:after {
    left: -37px;
}

section.news ul[timeline] li img {
    display: block;
    width: 100%;
    height: auto;
    margin: 10px 0;
}

section.locations {
    height: calc(100% - 40px - 240px);
}

.angular-google-map,
.angular-google-map-container {
    width: 100%;
    height: 100%;
    background-color: transparent !important;
}

.angular-google-map a img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
