
/* * * * * * * *
 * Logo colour *
 * * * * * * * */

body[data-state="news"] header nav li:first-child a .big {
    fill: #fff;
}

body[data-state="locations"] header nav li:first-child a .big {
    fill: #f15a24;
}


/* * * * * * *
 * Sections  *
 * * * * * * */

section.news {
    background-color: #4d4d4d;
}

section.locations {
    height: calc(100% - 40px - 240px);
    background-color: #4d4d4d;
}
