<section class="about">
    <p>Long dark nights for sleeping, long sunny days for sleeping. But then, it got too hot. And too cold. Our top
        scientists went to work. At last, they located a planet with the necessary orientation and magnetic field to
        harness its rotational energy. Earth! Indubitably. Blue-Blue Shiny Ball. In the area now known as Egypt, my
        people constructed a giant, semi-octahedral antenna to beam Earth's rotational energy to Thuban. The Great
        Pyramid at Giza! The Egyptians viewed us but ironically, that was our downfall.</p>

    <p>And we don't dare think of one neither.'Cause if we do, the Dark Ones might sense kind of the general vibe. Even
        through our mighty foil. Oh, man! Anyone got some tape or some gum? As my colleague indicated, the plan cannot
        come from us, Fry. We were counting on you and your unreadable brain to come up with something. I see that now.
        Freaky thing is, the Dark Ones' thoughts are unreadable, just like yours. Yes, if we dared unwrap our heads, we
        could easily locate the one other being whose mind we can't read.</p>

    <p>Our dads are never impressed, no matter what we do. Maybe we should start a fire. If we really want to impress
        them, we'll have to crush them with strategy. Dwight Lightning. Very well. But I get to name the next strategy.
        This week on The Real World The SunI'm burning to death! You know how much an apartment that big would cost on
        the sun? People! As you know, our young sons have become great successes… in the very same field as us. Oh,
        that's great! Naturally, we're humiliated.</p>

    <p>What? Listen, you little bastard! I control the robot-oil business! I won't let you ruin me! discovered something
        more important. My friends. And they aren't worth even a penny to me. That's why these anchovies are going on a
        pizza… so I can share the food I love Holy hell! You're going Well, just make sure you eat them all. You're a
        growing boy. What a nice lady! Okay, my friends. Get ready for the most delicious extinct animal you've ever
        tasted. I don't know. I've had cow.</p>

    <p>I've never felt more at home. Hear, hear! Now, let's all of us shut up and sing! He knoWs When you are sleeping
        He knoWs When you're on the can He'll hunt you doWn and blast your ass From here to Pakistan You'd better not
        breathe You'd better not move You're better off dead I'm telling you, dude Santa Claus is gunning you doWn Merry
        Xmas, everyone! Back when you least expect it. Why Must I Be a Crustacean in Love Call Robo-Rooter if you flush
        a toWel We also help With an impacted boWel Robo-Rooter Now this is progressA self-microwaving Bavarian Cream
        Dog.</p>

    <p>Thanks, Fry, you're a good friend. Amazing grace Hey, there she goes in the genuine. to hooting. If it ain'ts the
        world's number ones Internet sensation! Where? Amazing grace. Play it one more time. No, it's humiliating and
        degrading to Leela. Play it ten more times. I know I shouldn't have twitted that, but not swimming in barf might
        ease my conscience. But if Leela should find out, her dignity sac will rupture.</p>

    <p>We can't leave yet. We gotta wait for Bender. The high gravity must slow down his looting. Mom! Dad! You're
        alive! More importantly, we found you a man. A captain. Mom, I don't- I don't feel well. Look, it's our nebula.
        When I see it, I'll think back to that moment when we almost- Never mind. Everyone else is off the ship. Where
        is Bender? I don't know. But we can't wait any longer. Goodbye, Bender. Wait for us! Something's wrong. We're
        two tons overweight. Well, it's not me. I'm slipping! The pull is too strong! I can't live without you! No, you
        have too much to live for.</p>

    <p>Hermes, no! I'll ruin your body, too! Three decades of the munchies show, young man. You remind me of myself as a
        young cannon. Big Bertha is the circus's Grande dame. She shoots robots through the air. I've always wanted to
        be shot out of something. after lunch? Alas, a fine big one like you would shatter my barrel. to amaze the crowd
        once more. I understand the problems I could put you in a new body? Never! My body may be old, but it is mine,
        And every crack, a memory of heavy things shot a long way.</p>

    <p>Well, nuts to me. I'm taking the stage. I know the source of the greenhouse gases… but in my shame, I've kept it
        secret for 75 long years. Oh, it haunts my memory still. Professor, no! Don't do it! Don't do what? Don't use
        this memory ray so I can remember what happened back then? It was October 1 7 at 1 :54 p. m. and 1 4 birds were
        flying by the window. I was working at Mom's Friendly Robot Company. Back then, robots were slow-moving, stiff
        and a little on the uptight side.</p>

    <p>Want to try escaping again? Leela's been gone a long time. I hope she's making progress Good morning, lover.
        Listen. Now you're officially my woman. Kudos! I can't say I don't envy you. Last night was a mistake. No, just
        a regular mistake. For a second my common sense was overwhelmed by pity. A second is all it takes. That's why
        eventually you'll come crawling back to the Zapper. The only kind of crawling I'm doing to you is away. from.
        Leela, you're obviously confused and aroused.</p>

    <p>Ah. That would be very expensive… and most people who believe in Bigfoot are broke. Where? Up your face.
        Everybody do the Bender. The sky out here is amazing. Good night, employees. Good night. Good night, Hubert. You
        doing all right out there, buddy? Better than these gnats. That guy won't be going Or some kind of boogin?
        inside a tent. Fry. Fry, wake up. Come out and groom my mangy fur. Bigfoot? You taught yourself English? I'm not
        like the others, Bigfoot.</p>

    <p>I know how you feel. My grandfather died recently. I just need someone to hold me. Mm. You like holding me, don't
        you? Know what always cheers you up? Baking me sugar cookies. How about these cookies, sugar? I shouldn't be
        here. I shouldn't exist. But I do exist. Which proves you can't really be my grandma. What the hell have you
        done?! Relax. She can't be my grandmother. I figured it out. Of course she's your grandmother, you perverted
        dope. Look. Come back to bed, dearie. Impossible.</p>

    <p>Gentlemen? Oh, crap. Singing. Mind if I smoke? Cigars are evil You won't miss them We'll find ways to simulate
        What a sorry fella Rolled up in smoke like a panatela Here on Level 1 of Robot Hell Gambling's wrong, so is
        cheating So is forging phony IOUs What type of torture's justified I'm pit boss here on Level 2. Deep-fried
        robot! Read this 55-page warrant There must be robots worse than I There really aren't Please let me explain My
        crimes were merely boyish pranks You stole from nuns and banks Blame my upbringing Please stop sinning while I'm
        singing Selling bootleg tapes is wrong Musicians need that income to survive Bender gonna make noise With your
        hard drive scratched What you get on Level 5 I don't feel well It's up to us to rescue him Maybe he likes it
        here in Hell It's us who tempted him to sin Fry, don't be scared I'm sure we'll be spared Just sit back, enjoy
        the ride My ass has blisters from the slide Fencing diamonds, cockfights Publishing indecent magazines You'll
        pay for every crime Knee-deep in electric slime Suffering to the end of time Enduring tortures which rhyme
        Trapped forever here in Robot Hell Of course, that's just for starters.</p>

    <p>Cool, professor. We should go out and celebrate! Dear Lord! You've all reverted to your childhood forms! Hooray!
        I'm a teenage heartthrob again. While I try to restore our normal ages… I expect you all to go about your jobs
        like responsible professionals. It wasn't me, Mr. F. It was Amy. You stink! You know you did it! We're here to
        take my little stub of a husband home. Hermes, say goodbye to Mr. Farnsworth. Goodbye, Mr. Dumbsworth! Hey! This
        is my chance to spend time with my parents too.</p>

    <p>Ooh, that's snug. Oh! Those haven't descended in years! Now, that's a limbo-er's body! Look at that fine Jamaican
        bacon! Shut up, Zoidberg! The robot bending events are starting. Something tells me I could easily beat those
        trained professionals. the world's greatest bender! My dreams of glory died before they began. Athletes, please
        take your lanes… for the Men's 500 Meter Limbo. Hermes Conrad, is that you inside that dumpy little fat man?
        Barbados Slim! What are you doing here? Last time I heard, you were in Barbados.</p>

    <p>We demand equal rights, equal access to the surface and the blood of your first-born children. so we have
        something to give up in the negotiations. I've never been so moved, and I see no reason to begin now. Hobbsy,
        flush those creatures back down the hole they crawled out of. Madam's sewage-seeking Mrs. Astor, deep in the
        sewer, we discovered the wreck of the land Titanic, on which your husband land-drowned. Inside was something
        that might interest you. The gemerald ring my husband was to give me in lieu of children.</p>

    <p>Son, I think I can safely sayAs you can see, 1947 is going to be an eventful year. For the town of Roswell, New
        Mexico. Remarkable. According to the precision digital chronograph, it's July 9th, 1947. Which explains why the
        chronograph turned into this calendar. You mean we traveled through time? metal in the microwave. And the
        microwave radiation. Combined with gravitons and graviolies from the supernova Blasted us through time. Seen
        today's news? Gym Renovations on Schedule? No, over here.</p>

    <p>You want to watch? I prefer programs of the genre World's Blankiest Blank. She's in the world's shortiest skirt.
        I'm in. Counselor, it's unethical to sleep with your client. If you care about the case, It's bad enough to
        proposition a single female lawyer. But this is a unisex bathroom! Overruled, counselor. Could you repeat that
        last part? My God! You knocked Fox off the air. Like anyone on Earth cares. Could you repeat that last p-? I
        demand to know what happened to the plucky lawyer.</p>

    <p>Damn. Listen to me. I'm an expert at not caring. The secret is not giving a rat's ass about anyone… and only
        caring about things that you want… that you deserve, that the world owes you! Well, I could use a new tank top.
        Bigger! Bigger! A fashionable tank top! And designer boots encrusted with jewels! You'll need some pants And I
        could afford it all if I didn't have to feed that stupid Nibbler! Bender is back! I'll save you, Nibbler! Know
        what else I could use? A weekend at a fancy spa.</p>

    <p>I've got to do something to show Leela how sorry I am. So, what's the problem? Simply get down on your claws and
        do the apology dance. So it's left, left, right. Wait! I have a better idea. I'll go out and get her the perfect
        Xmas present. Something so great she'll never be unhappy again. Just be back by sundown, man. You can't stay out
        on Xmas Eve. He doesn't know about Santa Claus! I know about Santa Claus. Back in 2801, the Friendly Robot
        Company built a robotic Santa…</p>

    <p>Down the hatch. Hear, hear! Now, let's have a kiss! Yes, Fry. Plant one on your woman. Let me think. Come and
        knock on our door Mr. Roper… I'm confused. Tell me, which one of these ladies are you involved with? May I have
        a word with you? It's an emergency, sir. Come back when it's a catastrophe. Oh, very well. Well, with Zapp gone
        and my parents still here… I suggest Fry give me a nice, convincing kiss. Now there's something we can all
        enjoy.</p>

    <p>I'm a bender. I'm programmed to bend girders. You any good at it? You kidding? I was a star. I could bend a
        girder to any angle.</p>

    <p>And do you know why? One reason. You bastard! I'll kill you! You bastard! Wait! Stop! Everyone is gone! Edna?
        Honey? Edna? The frenzy! Oh, the greatest experience in life and I missed it. I'm sorry, doc. The frenzy is
        over. How will I get rid of my jelly now? I'll lend you this. Fry. What's with the flying jerks? They feast
        after the frenzy. Once my species passes its genes, it dies. You choose between life without sex and death? It
        was nice of you to let me fix your arm. Especially after I made an eel out of myself.</p>

    <p>I beseech thee, rise up against them. Smite someone who deserves it for once. Every time I interfere, I only make
        things worse. It's best to solve your own problems. But Metal Lord. What part of nay doesn't thou understand?
        I'm outfitting an expedition to the Himalayas. I'll need a coat. I miss Bender almost half as much You can't
        give up hope just You gotta hope even more and cover your ears and goAt once, sir! Well, you won't listen to
        reason… so I'll listen to idiotic-ness and come too.</p>

    <p>For we maintain one advantage, the element of surprise. Verily, our quest has begun. Stop right there. Hermes?
        He's a centaur like me. I am Hermaphrodite, most beautiful of centaurs. Gaze upon me and weep at my loveliness.
        Very well. Loveliest of centaurs, we seek to end Momon's reign of evil. Have you stout fighters at your command?
        One thousand archers of truest aim. Fire. Hey guys, I forgot I had this pumpkin. I knew it. My people are mighty
        warriors. Our enemies will be like Swiss cheese with blood coming out of the holes.</p>

    <p>Eight spoons. There's something wrong with the coffee machine. HoW do you like me noW? The toaster's not working
        right, either. The stapler's collating me alive! What's going on around here? Good news! There's a report on TV
        with some very bad news! Somebody turn it on! We interrupt Battle of the Network Space Krackens… to bring you
        this special report. The machines of planet Earth are rebelling. The enraged mechanisms have refused to do any
        Work… until beloved Mom is made Supreme Overlord of Earth! Hey, hey! Ho, ho! One-zero-zero- one-one-zero! Morbo
        demands comments.</p>

    <p>You really mean it? You're older than you said you were! Come closer, Bender. Let's become one. I prefer two.
        That way we can still be a horse for Halloween. Okay, Bender has her distracted. Now I can shut down her brain…
        by deactivating the carbonated logic matrix. Oh. I can't concentrate with this obnoxious candy in my face. I'm
        on it. Maybe I'll find those magic words while I'm at it. Fat chance. Yeah, I know. Oh. How about this one? Give
        it up, Fry! in a precise order.</p>

    <p>And now Hermes is missing. Well, doesn't affect me. Hermes' dreadlocks? And his arm? Food in the disposal. Hair
        and flesh go in the trash! I couldn't stop. Wait. Don't you care Ain't nothing wrong with murder… as long as I
        can wet my beak. I prefer the word extortion. The xmakes it sound cool. Wait, not the microwave! No more
        killing. Honk, honk! Sporty go-cart, Leela! So hip and sexy! So unlike you. Got any gum? Everyone's here. Who
        are you? Scruffy, the janitor. I've never seen you before.</p>

    <p>Caucasian human male. What am I going to watch and drink all day? This is an outrage! Why pull the biggest pool
        caper if nobody knows you did it? Well, there's the material rewards. You mean this junk? All I ever wanted was
        for people to remember my name. It's Bender. Why bother remembering anything? You'll forget it five seconds
        later. It's so unfair. A debonair robot with a zesty, in-your-face outlook… doomed to obscurity like the rest If
        I died tomorrow, no one would even notice.</p>

    <p>It's robot food. It's so good! Just try a little. No, really, I don't. Are you all right? Oh, yeah, the salad's
        fantastic! So fresh. Oh, my! That steamed carrot Enjoy the dinner? Are you kidding? God, yes, Elzar! I enjoyed
        cooking for you. And to make everything square… I want you to have Take care of that whenever you want. You're
        charging us, after you blinded me? I made a nice meal. This ain't a charity. Twelve hundred dollars? We don't
        have that! Especially not him.</p>
</section>
