<section class="contact">
    <div class="content">
        <div class="layout-row">
            <div class="flex">
                <h1>Kontakt</h1>
                <p>Wir nehmen jederzeit Ihre Bestellung entgegen unter <a href="mailto:post@kombinatdelikat.de">post@kombinatdelikat.de</a>.</p>

                <h2>Sitz der Gesellschaft</h2>
                <p>
                    Kombinat Delikat Dresden Neustadt UG (haftungsbeschränkt)<br>
                    Theresienstraße 10<br>
                    D-01097 Dresden
                </p>

                <h2>Fensterverkauf und Produktion</h2>
                <p>
                    Sebnitzer Str. 11<br>
                    D-01099 Dresden
                </p>
            </div>
        </div>
    </div>
</section>
