
<header>
    <nav role="navigation">
        <ul>
            <li><a ui-sref-active="active" ui-sref="news" aria-label="Neuigkeiten" ng-include="'assets/svg/logo.svg'" kd-logo>Neuigkeiten</a></li>
            <li><a ui-sref-active="active" ui-sref="locations" aria-label="Probieren">Probieren</a></li>
            <li><a ui-sref-active="active" ui-sref="about" aria-label="Prädikat">Prädikat</a></li>
            <li><a ui-sref-active="active" ui-sref="order" aria-label="Bestellen">Bestellen</a></li>
            <li><a ui-sref-active="active" ui-sref="contact" aria-label="Kontakt">Kontakt</a></li>
        </ul>
    </nav>
</header>

<div class="main" ui-view></div>

<footer>
    <nav role="navigation">
        <ul>
            <li><a ui-sref-active="active" ui-sref="contact" aria-label="Kontakt">Kontakt</a></li>
            <li><a ui-sref-active="active" ui-sref="imprint" aria-label="Impressum">Impressum</a></li>
            <li><a ui-sref-active="active" ui-sref="privacy" aria-label="Datenschutz">Datenschutz</a></li>
        </ul>
    </nav>
</footer>
