<time datetime="{{kdPost.created_time}}">{{kdPost.created_time | date: 'd. MMMM yyyy' }}</time>
<img ng-if="kdPost.full_picture" ng-src="{{kdPost.full_picture}}">
<blockquote ng-if="kdPost.caption || kdPost.description">
    <p ng-if="kdPost.description" ng-bind-html="kdPost.description | formatFacebook"></p>
    <foter ng-if="kdPost.caption">
        <cite ng-if="kdPost.link"><a href="{{kdPost.link}}">{{kdPost.caption}}</a></cite>
        <cite ng-if="!kdPost.link">{{kdPost.caption}}</cite>
    </foter>
</blockquote>
<div ng-bind-html="kdPost.message | formatFacebook"></div>
<div ng-if="showLikes && kdPost.likes.data.length" class="likes">{{kdPost.likes.data.length}}</div>
